.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
out/test/**
**/*.test.*
**/*.spec.*
.nyc_output/**
coverage/**
**/*.d.ts.map
**/.DS_Store
**/Thumbs.db